*{
    font-family: 'Roboto';
    --dorado:rgb(255, 217, 0);
    --fondo:#191919;
}
#home{
    background-image: url(img/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
header{
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.4s;
}
.nav{
    height: 4rem;
}
.logo{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.logo a{
    text-decoration: none;
    color: #757575;
    font-weight: 700;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
/* Efecto de hover */
.nav ul li::before{
    content: "";
    height:3px;
    width:0;
    background: var(--dorado);
    position:absolute;
    left: 0;
    bottom: -12px;
    transition: 0.2s ease-out;
}
.nav ul li:hover::before{
    width: 100%;
}
/* -------------------- */
.nav ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px var(--fondo);
}
/* FRASE PRINCIPA */
.frase{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.frase h1{
    font-weight: 700;
    color: white;
    font-size: 8rem;
    text-shadow: 2px 2px 5px var(--fondo);
}
/* scroll img */
.scroll{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll img{
    width: 50px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(340deg) brightness(107%) contrast(98%) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}
/* CONTAINER */
.container{
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
    text-align: center;
    flex-wrap: wrap;
}
/* RECETAS */
.recipe_description{
    font-family: 'Square Peg', cursive;
    font-size: xx-large;
}

.container div{
    width: 80%;
    margin: 20px;
}
.group_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
}
.card{
    border: none;
    margin-left: 200px;
}
.card img{
    transition: 0.15s;
}
.card img:hover{
    filter: drop-shadow(0px 2px 2px rgba(88, 87, 83, 0.7));
}
.card-body{
    padding: 0;
}
.card-body h5{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
/* CONTACTO */
.container .contactanos h1{
    border-bottom: 1px solid white;
    display: inline-block;
    font-weight: 700;
}
#contacto{
    background-image: url(img/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
}
form input{
    padding-left: 10px;
}
form input,textarea{
    background-color: rgba(255, 255, 255, 0.507);
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
form{
    flex-direction: column;
    justify-content: left;
    width: 60%;
}
form .item{
    display: grid;
    margin: 0;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
form .subitem,.full{
    display: flex;
    flex-direction: column;
    text-align: left;
}
form .subitem{
    width: 100%;
}
form .subitem input{
    width: 100%;
}
/* MENSAJE */
form .full,textarea{
    width: 100%;
    height: 10rem;
}
/* BOTON ENVIAR */
form .action,input{
    width: 100%;
}
form .action input{
    height: 35px;
}

/* FOOTER */
footer{
    background-color: var(--fondo);
}
.redes li img{
    width: 30px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(340deg) brightness(107%) contrast(98%);
    transition: 0.2s;
}
.redes li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
}
.redes li:hover{
    background-color: rgba(255, 217, 0, 0.5);
    filter: none;
}

/* RESPINSIVE */
@media (max-width:900px){
    
    .group_cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:760px){
    .logo{
        width: 90%;
    }
    #menu ul li {
        margin: 0 10px
    }
    .group_cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:600px) {
    #menu {
        display: none;
    }
    .frase h1{
        font-size: 6rem;
    }
    .group_cards{
        grid-template-columns: 1fr 1fr;
    }
    .container{
        width: 100%;
    }
    form{
        width: 80%;
    }
}
@media (max-width:500px){
    .group_cards{
        grid-template-columns: 1fr;
    }
    
    .frase h1{
        font-size: 5rem;
    }

    .redes li{
        margin: 0 10px;
    }
    
    form .item{
        display: block;
    }
}