*{
    font-family: 'Roboto';
}
.home{
    background-image: url(img/Asado2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
header{
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.4s;
}
.nav{
    height: 4rem;
}
.logo{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 700;
    
}
.logo a{
    text-decoration: none;
    color: #757575;
    font-weight: 700;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
/* Efecto de hover */
.nav ul li::before{
    content: "";
    height:3px;
    width:0;
    background:rgb(253, 201, 89);
    position:absolute;
    left: 0;
    bottom: -12px;
    transition: 0.2s ease-out;
}
.nav ul li:hover::before{
    width: 100%;
}
/* -------------------- */
.nav ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px #191919;
}
/* FRASE PRINCIPA */
.frase{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.frase h1{
    font-weight: 700;
    color: white;
    font-size: 8rem;
    text-shadow: 2px 2px 5px #191919;
}
/* scroll img */
.scroll{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll img{
    width: 80px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(340deg) brightness(107%) contrast(98%) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}
/* container */
.container{
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
    text-align: center;
    flex-wrap: wrap;
}
.container div{
    width: 80%;
    margin: 20px;
}
.card-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    text-align: left;
}